My First Rag Based chatboat.json
{
  "name": "My chatboat",
  "nodes": [
    {
      "parameters": {
        "notice": "Manual trigger to upload documents to the vector store for RAG"
      },
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        608,
        1184
      ],
      "id": "365aca29-30a7-4fa9-af19-9fbd1edccc3e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1qv44OIh_9At45_k2oRWwAeiJYV7xgYOX",
          "mode": "list",
          "cachedResultName": "Pakistan-Full_Country_Dossier-ODI-2024.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1qv44OIh_9At45_k2oRWwAeiJYV7xgYOX/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        1184
      ],
      "id": "59958001-c988-43eb-b943-a43d00461738",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sxmRoL80VkFp21f9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1712,
        1184
      ],
      "id": "0640b46e-4043-4ea9-9034-7a60a603a268",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "6veBLGGqNbncjFkZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1776,
        1408
      ],
      "id": "c7811b82-6b4e-49dd-bda5-0223f87de934",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1424,
        1008
      ],
      "id": "264ac84d-a02e-4e90-a5bf-3c00e1049b1a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "EcwtWtLsUdX8NJUz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "https://nexaddigi.shop"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        608,
        784
      ],
      "id": "ba72c5b2-2773-4f56-855d-bd455bdb2ffd",
      "name": "When chat message received",
      "webhookId": "f585d385-f5ec-4658-951f-21a48d60a6bb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        576
      ],
      "id": "307dc36c-5bc9-4b11-be0a-cf7265b5b35e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        832,
        800
      ],
      "id": "14616048-5960-496e-8554-e8fa92cad9e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EcwtWtLsUdX8NJUz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve information from State Bank of Pakistan documents and financial data",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "documents"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1344,
        800
      ],
      "id": "f0c14e8d-308c-40de-8836-4c715cbf71e6",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "6veBLGGqNbncjFkZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "2a23fb6e-d943-413b-b091-056119dca77b",
      "name": "Simple Memory (Window Buffer)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1216,
        800
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (Window Buffer)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "756847c3-ad90-438e-83ee-ef6e377b5570",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "720f2932afb6530c14e94cb80c26faa48f868e1032fee0031963ee886d852b0b"
  },
  "id": "SA9U7cLh5c0lXN6t",
  "tags": []
}